{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}

    <div class="block">
        <h2 class="pb-30">Page de profil</h2>
        {{  form_start(userForm) }}
      {{  form_rest(userForm) }}
      <button class="btn btn-primary mr-10">Inscription</button>
      <small>
        <a href="{{ path('login') }}"> vous avez deja un compte? </a>
      </small>
    {{  form_end(userForm) }}
    </div>
{% endblock %}
